* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Varela Round', sans-serif;
}

body {
    background: #0f172a;
    color: #e5e7eb;
}

header {
    background: #6366f1;
    padding: 18px 12px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06);
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 1.25rem;
}

/*make buttons look good*/
.timer-controls button {
    background: #4f46e5;
    border: none;
    color: white;
    padding: 10px 16px;
    margin: 0 6px;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
}

.timer-display {
    font-size: 5rem;
}

.timer-section {
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 5rem;
}

/*change layout to display due dates and tasks on side
and timer and calendar in middle*/
.layout {
    max-width: 1200px;
    margin: 24px auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 260px 400px 260px;
    gap: 150px;
    align-items: start;
    justify-content: center;
}

/*box-card around each section*/
.due-dates,
.tasks,
.timer-section,
.calendar-section {
   background: #1e293b;
   border-radius: 10px;
   padding: 16px;
   box-shadow: 0 2px 6px rgba(16, 24, 40, 0.03);
}

/*change size for headers in sections
*/
.due-dates h2,
.tasks h2,
.calendar-section h2 {
   margin-top: 0;
   font-size: 1.05rem;
}

/*padding moved left for list*/
.due-dates ul,
.tasks ul {
   padding-left: 1rem;
   margin: 8px 0;
}





